.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.post_info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post_info > h5{
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}

.post_info > h5:hover{
    text-decoration: underline;
}
 

.post_info > small{
    margin-left: 10px;
}

.post_body{
    display: flex;
    flex-direction: column;
}

.post_body > .post_que{
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
}
.post_body > .post_que > button{
    margin-left: auto;
    outline: none;
    border: none;
    background-color: #27B9AF;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}


.post_body > .post_que > p:hover{
    text-decoration: underline;
}

.post_body img{
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.post_footer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post_footer > .MuiSvgIcon-root{
    color: gray;
    margin-right: 40px;
    cursor: pointer;
}

.post__footerAction{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 20px;
}

.post__footerAction p{
    font-size: 15px;
    color: gray;
}

.post__footerAction > .MuiSvgIcon-root{
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    font-size: 25px;
}

.post__footerAction > .MuiSvgIcon-root:hover{
    color: #8f1f19;
}

.post__footerLeft {
    margin-left: auto;

}

.post__footerLeft .MuiSvgIcon-root{
    margin-left: 30px;
    color: gray;
    cursor: pointer;

}


.modal__question {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .modal__question > h1 {
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .modal__question > p {
    color: gray;
    font-size: small;
  }
  
  .modal__question > p > .name {
    color: #27B9AF;
    font-weight: bold;
  }
  
  .modal__answer {
    display: flex;
    padding-top: 20px;
    flex: 1;
  }
  
  .modal__answer > textarea {
    width: 100%;
    height: 200px;
    padding: 5px;
    font-size: 15px;
    color: blue;
  }
  
  .modal__button {
    display: flex;
    align-items: center;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal__button > .cancle {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal__button > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: #27B9AF;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .post_info{
    display: flex;
}


 .feed_person{
     display: flex;
     flex-direction: column;
     margin-left: 15px;
 }

 .feed_follow{
     border: 1px solid #27B9AF;
     padding: 5px 15px;
 }

 .feed_follow h5{
    color: #27B9AF;
    font-size: 15px;
    font-weight: 300;
    
}

 .feed_end{
     display: flex;
     margin-left: auto;
     align-items: center;
 }

 .feed_end .MuiSvgIcon-root {
    margin-left: 15px;
    color: #27B9AF;
    font-size: 20px;
}